body {
    background-color: #E8EAEE;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .col-md-5 {
    background-color: #fff;
    display: table;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 14px;
}

.inner-box {
    margin: 10%;
}

button {
    color: #fff;
}